{% macro dump_value(value) %}
{%- if value is mapping %}
  {{ dump_dict(value) }}
{%- elif value is none %}
  <i class="inactive">null</i>
{%- else %}
  {{ value|safe_str }}
{%- endif %}
{%- endmacro %}


{% macro dump_value_unsafe(value) %}
{%- autoescape false %}
{%- if value is mapping %}
  {{ dump_dict(value) }}
{%- elif value is none %}
  <i class="inactive">null</i>
{%- else %}
  {{ value|safe_str }}
{%- endif %}
{%- endautoescape %}
{%- endmacro %}


{% macro dump_dict(obj) %}
{%- if obj is mapping %}
<table border="1">
{%- for key, value in obj | dictsort %}
<tr>
  <th>{{ key }}</th>
  <td>
{{ dump_value(value) }}
  </td>
</tr>
{%- endfor %}
</table>
{%- else %}
<i>Value is not mapping:</i> {{ dump_value(obj) }}<br />
{%- endif %}
{%- endmacro %}


{% macro dump_list(obj) %}
<ul>
  {%- for value in obj %}
  <li>{{ dump_value(value) }}</li>
  {%- endfor %}
</ul>
{%- endmacro %}


{% macro dump_list_a(obj) %}
<ul>
  {%- for value in obj %}
  <li class=a><a href="{{ value }}">{{ dump_value(value) }}</a></li>
  {%- endfor %}
</ul>
{%- endmacro %}


{% macro dump_json(rows) %}
{%- for row in rows %}
{%- if row is mapping %}
<table border="1">
<tr>
{%- for key, value in row | dictsort %}
<th>{{ key }}</th>
{%- endfor %}
</tr>
<tr>
{%- for key, value in row | dictsort %}
<td>
{{ dump_value(value) }}
</td>
{%- endfor %}
</tr>
</table>
{%- else %}
<i>Value is not mapping:</i> {{ dump_value(row) }}<br />
{%- endif %}
<br />
{%- endfor %}
{%- endmacro %}


{% macro dump_table(names, rows) %}
<div class="table">
<table border="1">
  <thead>
    {%- if names %}
    <tr>
      <th>#</th>
      {%- for name in names %}
      <th>{{ name }}</th>
      {%- endfor %}
    </tr>
    {%- endif %}
  </thead>

  <tbody>
    {%- if rows %}
    {%- for row in rows %}
    <tr>
      <td><i class="inactive">{{ loop.index }}</i></td>
      {%- for col in row %}
      <td>
      {{ dump_value(col) }}
      </td>
      {%- endfor %}
    </tr>
    {%- endfor %}
    {%- endif %}
  </tbody>
</table>
{%- if not rows %}
<i>Нет данных</i>
{%- endif %}
</div>
{%- endmacro %}


{% macro dump_table_unsafe(names, rows) %}
{%- autoescape false %}
<div class="table">
<table border="1">
  <thead>
    {%- if names %}
    <tr>
      <th>#</th>
      {%- for name in names %}
      <th>{{ name }}</th>
      {%- endfor %}
    </tr>
    {%- endif %}
  </thead>

  <tbody>
    {%- if rows %}
    {%- for row in rows %}
    <tr>
      <td><i class="inactive">{{ loop.index }}</i></td>
      {%- for col in row %}
      <td>
      {{ dump_value_unsafe(col) }}
      </td>
      {%- endfor %}
    </tr>
    {%- endfor %}
    {%- endif %}
  </tbody>
</table>
{%- if not rows %}
<i>Нет данных</i>
{%- endif %}
</div>
{%- endautoescape %}
{%- endmacro %}
