{% macro render_field(field) %}
<p>
  <dt>{{ field.label(id=field.id) }}</dt>
  <dd>{{ field(**kwargs)|safe }}
  {%- if field.errors %}
    <ul class=errors>
    {%- for error in field.errors %}
      <li>{{ error }}</li>
    {%- endfor %}
    </ul>
  {%- endif %}
  </dd>
</p>
{%- endmacro %}

{% macro render_hidden(field) %}
<p>
  <dd>{{ field(**kwargs)|safe }}
  {%- if field.errors %}
    <ul class=errors>
    {%- for error in field.errors %}
      <li>{{ error }}</li>
    {%- endfor %}
    </ul>
  {%- endif %}
  </dd>
</p>
{%- endmacro %}
