<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="keywords" content="python flask">
  <meta name="description" content="index">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  {%- if title %}
  <title>{{ title }}</title>
  {%- else %}
  {%- block title %}
  {%- endblock %}
  {%- endif %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('index') }}css/user-modals.css" rel="stylesheet">
  <link href="{{ url_for('index') }}css/sticky-footer-navbar.css" rel="stylesheet">

{%- if app_debug %}
  <!-- Debug -->
  <link href="{{ url_for('index') }}css/debug/debug.css" rel="stylesheet">
{%- endif %}
</head>

<body>



{%- with messages = get_flashed_messages(with_categories=true) %}
  {%- if messages %}
    <ul class=flashes>
    {%- for category, message in messages %}
      <li class="flashes {{ category }}">{{ message }}</li>
    {%- endfor %}
    </ul>
  {%- endif %}
{%- endwith %}



<!-- HEADER: navbar, user dialogs -->
<header>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href=".">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="scan">Scan QR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="docs">Docs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="favorites" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Favorites
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="addpage">Add current page</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="search" method="post" id="search">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-3" type="submit">Search</button>
      </form>
    </div>
    <div id="anonymous_section">
      <!--button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#SignupModal">
        Sign in
      </button-->
      <a class="nav-link" href="signin" data-toggle="modal" data-target="#SignupModal">
        Sign in/Sign up
      </a>
    </div>
    <div class="dropdown" id="user_section" style="display: none;">
      <a class="nav-link dropdown-toggle" href="profile" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Profile
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdown02">
        <a class="dropdown-item" href="profile" id="profile">Profile</a>
        <a class="dropdown-item" href="logout" id="logout">Log out</a>
      </div>
    </div>
  </nav>



  <!-- Login/Registration modal (https://bootsnipp.com/snippets/VElzQ) -->
  <div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="SignupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SignupModalLabel">Login/Registration</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Body -->
          <div class="row">
            <div class="col-md-8" style="border-right: 1px dotted #C2C2C2; padding-right: 30px;">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#Login" data-toggle="tab">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Registration" data-toggle="tab">Registration</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">

                <!-- Login tab -->
                <div class="tab-pane active" id="Login">
                  <form role="form" class="form-horizontal" action="signin" method="post" id="signin">
                    <div class="form-group">
                      <label for="email" class="col-sm-10 control-label">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password" class="col-sm-10 control-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-md-9">
                            <label for="remember" class="control-label">Remember me</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" class="form-control" id="remember" name="remember" value="y">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                      </div>
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        <a href="javascript:;">Forgot your password?</a>
                      </div>
                    </div>
                  </form>
                </div>

                <!-- Registration tab -->
                <div class="tab-pane" id="Registration">
                  <form role="form" class="form-horizontal" action="signup" method="post" id="signup">
                    <div class="form-group">
                      <label for="name" class="col-sm-10 control-label">Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-sm-10 control-label">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email2" name="email" placeholder="Email" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="mobile" class="col-sm-10 control-label">Mobile</label>
                      <div class="col-sm-10">
                        <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Mobile" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password" class="col-sm-10 control-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="password2" name="password" placeholder="Password" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="confirm" class="col-sm-10 control-label">Confirm password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm password" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                      </div>
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-sm">Save & Continue</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>

              <div id="OR" class="hidden-xs">OR</div>
            </div>

            <div class="col-md-4">
              <div class="row text-center sign-with">
                <div class="col-md-12">
                  <h3>Sign in with</h3>
                </div>
                <div class="col-md-12">
                  <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-primary">Facebook</a>
                    <a href="#" class="btn btn-danger">Google</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <!-- Registration complete modal -->
  <div class="modal fade" id="WelcomeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Thank you for registering</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p>
            Registration completed successfully!<br />
            Welcome to the site!
          </p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>



  <!-- Info modal -->
  <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p id="info"></p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</header>



<!-- MAIN: page content -->
<main role="main" class="container">

  <h1 class="mt-5">{{ head }}</h1>
  <div id="content">
    {%- block body %}
    {%- endblock %}
  </div>

</main>



<!-- FOOTER: sticky footer -->
<footer class="footer">

  <div class="container">
    <span class="text-muted">{{ sticky_footer }}</span>
  </div>

</footer>



<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ url_for('index') }}assets/js/vendor/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



<!-- Custom scripts -->
<script src="{{ url_for('index') }}assets/js/string.format-1.0.packed.js"></script>
<script src="{{ url_for('index') }}js/debug.js"></script>
<script src="{{ url_for('index') }}js/functions.js"></script>
<script src="{{ url_for('index') }}js/user.js"></script>



<script>

jQuery( function($) {

  update_user_section();

  $('form#search').submit(function() {
    form = $(this);
    $('#debug').text(JSON.stringify(form.serializeObject()));

    return false;
  });

  $('form#signin').submit(function() {
    form = $(this);
    $('#debug').text(JSON.stringify(form.serializeObject()));

    $.ajax({
      type: "POST",
      dataType: "json",
      url: 'signin',
//    data: Object.assign({}, form.data(), {'type': 'json'}),
      data: form.serialize() + '&type=json',
      success: function(data) {
        if (data.result == 'error') {
          $('#info').html(data.message);
          $('#InfoModal').modal('toggle');
        } else {
          $('#SignupModal').modal('toggle');

          update_user_section();
        }
      },
      error: function(data) {
        $('#debug').html(data.responseText);
        $('#info').html("Some server issues on request!<br />\n'{0}'".format(data.statusText));
        $('#InfoModal').modal('toggle');
      },
    });

    return false;
  });

  $('form#signup').submit(function() {
    form = $(this);
    $('#debug').text(JSON.stringify(form.serializeObject()));

    $.ajax({
      type: "POST",
      dataType: "json",
      url: 'signup',
      data: form.serialize() + '&type=json',
      success: function(data) {
        if (data.result == 'error') {
          $('#info').html(data.message);
          $('#InfoModal').modal('toggle');
        } else {
          $('#SignupModal').modal('toggle');
          $('#WelcomeModal').modal('toggle');

          update_user_section();
        }
      },
      error: function(data) {
        $('#debug').html(data.responseText);
        $('#info').html("Some server issues on request!<br />\n'{0}'".format(data.statusText));
        $('#InfoModal').modal('toggle');
      },
    });

    return false;
  });

  $('a#logout').submit(function() {
    console.log(1);
    $.post('logout', {'test': 1}).done(function (data) {
      if (data.result == 'error') {
        $('#info').html(data.message);
        $('#InfoModal').modal('toggle');
      } else {
        update_user_section();
      }
    });

    return false;
  });

});

</script>



{%- if app_debug %}
<pre id="debug">
{{ debug }}
</pre>
{%- endif %}



</body>
</html>
