{% extends "_layout.html" %}

{%- block body %}

<table>
<tr><td><b>Email:</b></td><td>{{ cu.email }}</td></tr>
<tr><td><b>Name:</b></td><td>{{ cu.name }}</td></tr>
<tr><td><b>Created:</b></td><td>{{ cu.created }}</td></tr>
<tr><td><b>Email verified:</b></td><td>{{ verified }}</td></tr>
</table>

<p>
  <a href="{{ url_for('index') }}edit">Edit profile</a><br />
</p>
<p>
  <a href="{{ url_for('index') }}change_password">Change password</a><br />
</p>
<p>
  <a href="{{ url_for('index') }}send_verification">Send verification</a><br />
</p>
<p>
  <a href="{{ url_for('index') }}logout">Logout</a><br />
</p>

<p>
  <a href="{{ url_for('index') }}delete_account">Delete account</a><br />
</p>

{%- endblock %}
