{% extends "_layout.html" %}

{%- from "_formhelpers.html" import render_field %}

{%- block body %}

<h1>Sign up</h1>

<form method=post action="?next={{ next }}">
  <dl>
    {{ render_field(form.name, size=40) }}
    {{ render_field(form.email, size=40) }}
    {{ render_field(form.mobile, size=40) }}
    {{ render_field(form.password, size=40) }}
    {{ render_field(form.confirm, size=40) }}
    {{ render_field(form.accept_tos) }}
  </dl>
  <p>
    <input type=submit value="Sign up">
  </p>
</form>

<p>
  If you registered you can <a href="{{ url_for('index') }}signin">Sign in</a>
</p>

{%- endblock %}
